body {
  background-color: aqua;
  font-family: georgia;
}

h1 {
  font-family: comic sans ms;
  font-size: 60px;
  color: darkblue;
}

h4 {
  float: right;
  font-style: italic;
}

.paragraf-1,
.paragraf-2 {
  text-align: justify;
}
